<amplify-authenticator>
  <div class="logo">
    <h4>Restaurants App</h4>
    <div class="logout"><amplify-sign-out></amplify-sign-out></div>
  </div>
  <!-- previous code -->
  <div class="container">
    <div class="form-body">
      <form autocomplete="off" [formGroup]="createForm" (ngSubmit)="onCreate(createForm.value)">
        <div class="Icolumn">
          <label>Name: </label>
          <input type="text" formControlName="name" autocomplete="off">
        </div>
        <div class="Icolumn">
          <label>Description: </label>
          <input type="text" formControlName="description" autocomplete="off">
        </div>
        <div class="Icolumn">
          <label>City: </label>
          <input type="text" formControlName="city" autocomplete="off">
        </div>
        <div style="margin: auto;width: fit-content;">
        <button class="myBtn" type="submit">Submit</button>
        <button class="myBtn" (click)="refresh()">Refresh</button>
        </div>
      </form>
    </div>
    
    <table>
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>City</th>
      </thead>
      <tbody *ngFor="let restaurant of restaurants">
        <tr>
          <td>{{ restaurant.city }}</td>
          <td>{{ restaurant.name }}</td>
          <td>{{ restaurant.description }}</td>
        </tr>
      </tbody>
    </table>
    </div>
    
</amplify-authenticator>
